# --- Python ---
__pycache__/
*.py[cod]
*.egg-info/
*.eggs/
dist/
build/
wheelhouse/
*.whl
venv/
.env/
.venv/

# --- C++ / CMake ---
# Object & compiled files
*.o
*.obj
*.dll
*.so
*.dylib
*.pdb
*.ilk
*.exe

# Build system
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
cmake-build-debug/

# Ninja
*.ninja
.ninja_log
.ninja_deps

# --- IDEs ---
.vscode/
.idea/
*.swp
*.swo
